

/* card style */

#img{
    width: 100px;
    height: 150px;
    object-fit: contain;
}

#card{
    align-items: center;
    width: 250px;
}

#bts{
    width: 100px;
}
#container{
    padding: 10px 0;
}

#head{
    font-size: 1rem;
}
